In [2]:
import pandas as pd

In [16]:
matches = pd.read_csv("epl_2024_matches_clean.csv", index_col=0)
matches.dtypes

TEAMS_home               object
TEAMS_away               object
CHANCES_home            float64
CHANCES_away            float64
GOALS_home                int64
GOALS_away                int64
XG_home                 float64
XG_away                 float64
SHOTS_home                int64
SHOTS_away                int64
SHOTS ON TARGET_home      int64
SHOTS ON TARGET_away      int64
DEEP_home                 int64
DEEP_away                 int64
PPDA_home               float64
PPDA_away               float64
XPTS_home               float64
XPTS_away               float64
dtype: object

In [6]:
matches.head()

,TEAMS_home,TEAMS_away,CHANCES_home,CHANCES_away,GOALS_home,GOALS_away,XG_home,XG_away,SHOTS_home,SHOTS_away,SHOTS ON TARGET_home,SHOTS ON TARGET_away,DEEP_home,DEEP_away,PPDA_home,PPDA_away,XPTS_home,XPTS_away
match_id,,,,,,,,,,,,,,,,,,
26608,West Ham,Aston Villa,41%,36%,1,2,2.80,2.67,14,15,3,3,5,8,9.33,11.30,1.47,1.30
26618,Aston Villa,Arsenal,31%,39%,0,2,1.32,1.41,11,9,3,4,3,10,17.28,5.83,1.24,1.46
26626,Leicester,Aston Villa,NaN,76%,1,2,0.77,2.16,9,10,3,5,3,6,6.40,10.47,0.37,2.45
26638,Aston Villa,Everton,89%,NaN,3,2,3.16,0.85,17,6,8,2,9,3,5.26,16.33,2.76,0.16
26647,Aston Villa,Wolverhampton Wanderers,84%,NaN,3,1,2.37,0.52,9,10,4,4,9,4,11.80,13.50,2.65,0.24

In [7]:
matches.shape

(380, 18)

In [8]:
matches["TEAMS_home"].value_counts()

TEAMS_home
West Ham                   19
Aston Villa                19
Bournemouth                19
Manchester City            19
Southampton                19
Brighton                   19
Brentford                  19
Crystal Palace             19
Wolverhampton Wanderers    19
Arsenal                    19
Everton                    19
Newcastle United           19
Nottingham Forest          19
Chelsea                    19
Liverpool                  19
Tottenham                  19
Fulham                     19
Ipswich                    19
Leicester                  19
Manchester United          19
Name: count, dtype: int64

In [9]:
matches.dtypes

TEAMS_home               object
TEAMS_away               object
CHANCES_home             object
CHANCES_away             object
GOALS_home                int64
GOALS_away                int64
XG_home                 float64
XG_away                 float64
SHOTS_home                int64
SHOTS_away                int64
SHOTS ON TARGET_home      int64
SHOTS ON TARGET_away      int64
DEEP_home                 int64
DEEP_away                 int64
PPDA_home               float64
PPDA_away               float64
XPTS_home               float64
XPTS_away               float64
dtype: object